<h1>Student Form</h1>

<%= form_tag students_path do %>
  <label>Fist Name:</label><br>
  <input type="text" id="first_name" name="student[first_name]"><br>

  <label>Last Name:</label><br>
  <input type="text" id=last_name name="student[last_name]"><br>

  <br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit Student">
<% end %>
