<h3>Student Form</h3>
<%=form_tag students_path do%>
<label for="Student first_name">First Name:</label><br>
<%= text_field_tag :"student[first_name]"%> <br>
<label for="Student last_name">Last Name:</label><br>
<%= text_field_tag :"student[last_name]"%> <br>
<input type="submit" value="Submit Student">
<%end%>
